%h1= @user.email

%h4 Last two weeks client work
= @last_two_weeks_client_work.inspect

%h4 Last two weeks bug fixes
= @last_two_weeks_bug_fixes.inspect

%h4 Last two sprints velocity
= @last_two_sprints_velocity.inspect
